div {
    font-size: 20pt;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #ffff00 25%, #00ff00 5%, #0000ff 70%);
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    border: 5px solid #ff0000;
}
